# Virtual environment folders
.venv/
env/
venv/

# Binaries
data/
logs/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / build files
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE/editor folders and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Model paths
src/training/supervised/v1_pol_mvplayed_val_result_nsearch/model/
src/training/supervised/v2_pol_mvplayed_val_sfeval/model/
src/training/supervised/v3_hqgames_mcts/model/
src/training/supervised/v4_hqgames_with_tactics_opmcts/model/
src/training/supervised/v5_historic_input_channels/model/

# BUT include best models
!src/training/supervised/v3_hqgames_mcts/model/best_chess_ai_model.pth
!src/training/supervised/v4_hqgames_with_tactics_opmcts/model/best_chess_ai_model.pth
!src/training/supervised/v5_historic_input_channels/model/best_chess_ai_model.pth


# Training data
src/training/supervised/v1_pol_mvplayed_val_result_nsearch/data/
src/training/supervised/v2_pol_mvplayed_val_sfeval/data/
src/training/supervised/v3_hqgames_mcts/data/
src/training/supervised/v4_hqgames_with_tactics_opmcts/data/
src/training/supervised/v5_historic_input_channels/data/

# Logs
src/training/supervised/v1_pol_mvplayed_val_result_nsearch/logs/
src/training/supervised/v2_pol_mvplayed_val_sfeval/logs/
src/training/supervised/v3_hqgames_mcts/logs/
src/training/supervised/v4_hqgames_with_tactics_opmcts/logs/
src/training/supervised/v5_historic_input_channels/logs/