# Virtual environment folders
.venv/
env/
venv/

# Binaries
data/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / build files
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE/editor folders and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# Model paths
training/supervised/v1_pol_mvplayed_val_result_nsearch/model/
training/supervised/v2_pol_mvplayed_val_sfeval/model/
training/supervised/v3_hqgames_mcts/model/

# Training data
training/supervised/v1_pol_mvplayed_val_result_nsearch/model/
training/supervised/v2_pol_mvplayed_val_sfeval/model/
training/supervised/v3_hqgames_mcts/model/