[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch_cuda_129"
url = "https://download.pytorch.org/whl/cu129"
verify_ssl = true

[packages]
chess = "*"
pillow = "*"
tqdm = "*"
h5py = "*"
pyyaml = "*"
python-lichess = "*"
bs4 = "*"
matplotlib = "*"
torch = "==2.8.0"
psutil = "*"
py-spy = "*"

[dev-packages]

[requires]
python_version = "3.11"
