# Core ML & Quantization
--extra-index-url https://download.pytorch.org/whl/cu132
torch==2.14.0
onnx>=1.20.1
onnxscript

# Data Handling & Storage
numpy
pyyaml
h5py
hdf5plugin
zstandard
lmdb
pandas
choix

# Chess Logic
chess

# Infrastructure & Monitoring
nvidia-ml-py
psutil
py-spy
tqdm
tensorboard

# UI & Utils
pillow
matplotlib
beautifulsoup4
setuptools